<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biblioteka</title>
</head>
<body>

<h1> Witaj w bibliotece! </h1>
<label>Co chcesz zrobić?</label><br>

<a href="wypozyczenie">Wypożyczyć książkę</a><br>
<a href="historia">Sprawdź historię książki!</a><br>
<p><a href="orders">Zobaczyc wszsytkie wypozyczenia (/orders)</a></p>
<p><a href="orders">Zobaczyc wszsytkie wypozyczenia uzytkownika (/zestawienie/{nickname})</a></p>

</body>
</html>